html{
    background-color: #333844;
    color: white;
    font-family: "Courier Prime", monospace;
  font-weight: 100;
  font-style: normal;
}

body{
    font-family: "Courier Prime", monospace;
  font-weight: 100;
  font-style: normal;
}

.nav{
    padding-top: 15px;
    background-color: #333844;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav a{
    padding-left: 10px;
    padding-right: 10px;
    font-style: normal;
    font-size: 2rem;
    text-decoration: none !important;
    color: white;
}

.c-flex{
    padding-top: 60px;
    background-color: #333844;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-flex img{
    width: 100%;
    margin: auto;
    height: 80vh;
    object-fit: contain;
}